@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
body,html {
	height: 100%;
}
body {
	font-family: 微软雅黑,Arial;
	font-size: 14px;
	line-height: 30px;
	color: #AB8157;
	background-color: #FFF;
}

/*顶部导航菜单开始*/
#top_bg {
	width: 100%;
	height: 98px;
	overflow: hidden;
	background-color: #EEE6DB;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
}
#top {
	width: 1000px;
	height: 98px;
	overflow: hidden;
	margin: 0px auto;
}
#logo {
	width: 230px;
	height: 84px;
	padding-top: 14px;
	float: left;
}
#menu {
	width: auto;
	height: 98px;
	padding-top: 0px;
	overflow: hidden;
	display: inline-block;
	float: right;
}
#top1 {
	width: auto;
	height: 28px;
	overflow: hidden;
	text-align: right;
	line-height: 28px;
}
#menu li {
	list-style-type: none;
	float: left;
	font-size: 16px;
}
#menu li a {
	display: block;
	width: 128px;
	height: auto;
	text-align: center;
	line-height: 70px;
	position:relative;
	color: #AB8157;
	text-decoration: none;
}
#menu li a .cn {
	position:absolute;
	width: 128px;
	text-align: center;
	opacity: 0;
	left:0px;
	transition: opacity 0.3s;
}
#menu li a .cn:after {
	content:"";
	position:absolute;
	bottom:0px;
	width:100%;
	height:2px;
	left:0px;
	background:#cc9966;
	-webkit-transform-origin:right top;
	transform-origin:right top;
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition:-webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#menu li a .en {
	text-transform: uppercase;
	opacity: 1;
	transition: opacity  0.3s;
}
#menu li a:hover .cn {
	opacity: 1;
	color: #CC9966;
}
#menu li a:hover .cn:after {
	-webkit-transform-origin:left top;
	transform-origin:left top;
	-webkit-transform:scaleX(1);
	transform:scaleX(1);
}
#menu li a:hover .en {
	opacity: 0;
}

.mselect a .cn{
	opacity: 1 !important;
	color: #CC9966 !important;
}
.mselect a .en {
	opacity: 0 !important;
}
/*顶部导航菜单结束*/
#banner {
	position:relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 98px;
}
#banner img {
	width: 100%;
	height: auto;
}

.col1 {
	width: 1000px;
	height: auto;
	overflow: hidden;
	padding: 20px 0px;
	margin: 0px auto;
}
.title1 {
	width: 100%;
	height: 40px;
	overflow: hidden;
	background-image: url(../images/tbg1.png);
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}
#news-search {
	width: auto;
	height: 30px;
	background-color: #F3F3F3;
	padding: 5px 40px;
	text-align: right;
	color: #333;
	line-height: 30px;
	font-weight: bold;
	margin-top: 10px;
}
#search-name {
	width: 250px;
	height: 26px;
	border: solid 1px #CCC;
	line-height: 26px;
	margin-right: 10px;
}
.btn01 {
	width: 78px;
	height: 26px;
	background-color: #FEC901;
	border: solid 1px #FF9600;
	color: #673F02;
	font-family: 微软雅黑;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
#main {
	padding: 20px 0px 0px 0px;
	height: auto;
	overflow: hidden;
}
#left {
	width: 160px;
	height: auto;
	overflow: hidden;
	background-color: #EEE6DB;
	padding: 20px;
	float: left;
}
#left li {
	list-style-position: inside;
	font-size: 16px;
	line-height: 30px;
	border-bottom: dashed 1px #AB8157;
}
#left li a:link,#left li a:visited {
	color: #AB8157;
	text-decoration: none;
}
#left li a:hover,#left li a:active {
	color: #CC9966;
	text-decoration: underline;
}
.xwglbtn {
	width: 158px;
	height: 46px;
	background-color: #FEC901;
	border: solid 1px #FF9600;
	color: #673F02;
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
	display: block;
	margin: 20px auto 0px auto;
	border-radius: 5px;
}
.xwglbtn a:link, .xwglbtn a:visited {
	color: #673F02;
	text-decoration: none;
}
.xwglbtn a:hover, .xwglbtn a:active {
	color: #673F02;
	text-decoration: underline;
}
#right {
	width: 780px;
	height: auto;
	overflow:hidden;
	margin-left: 20px;
	float: left;
}
#title {
	height: 38px;
	background-color: #EEE6DB;
	border-bottom: solid 2px #C2A88E;
	font-size: 16px;

	line-height: 38px;
	font-weight: bold;
	padding: 0px 30px;

}
.font01 {
	display: block;
	float: right;
}
#p-list {
	width: 780px;
	height: auto;
	overflow: hidden;
	font-size: 14px;
	color: #333;
}
#pro-list {
	height: auto;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}
.pro {
	width: 175px;
	height: auto;
	overflow: hidden;
	text-align: center;
	padding: 10px 10px 5px 10px;
	float: left;
	line-height: 26px;
}
.pro img {
	width: 173px;
	height: 145px;
	padding: 1px;
	background-color: #FFF;
	border: solid 1px #C2A88E;
}
.pro h1 {
	font-size: 16px;
	color: #AB8157;
	font-weight: bold;
}
.font02 {
	text-decoration: line-through;
}
.redfont {
	font-size: 18px;
	font-weight: bold;
	font-weight: bold;
	color: #FF0000;
}
.pro:hover {
	background-color: #F5EEE1;
	cursor: pointer;
}



#no-pro {
	height: 30px;
	background-color: #F3F3F1;
	line-height: 30px;
	text-align: center;
	color: #333;
	margin-top: 10px;
}
#bar {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333;
	margin-top: 15px;
}
a:link,a:visited {
	color: #333;
	text-decoration: none;
}
a:hover,a:active {
	color: #AB8157;
	text-decoration: underline;
}

#bottom2 {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5px 0px;
	background-color: #C2A88E;
	z-index:0;
}
#bottom2_main {
	position: relative;
	width: 1000px;
	height: auto;
	margin: 0px auto;
}
#bot_logo {
	width: 200px;
	height: auto;
	overflow: hidden;
	float: left;
}
#bot_text {
	display: inline-block;
	float: right;
	font-family: Arial;
	font-size: 12px;
	color: #FFF;
	padding-top: 10px;
	text-align: right;
}

#p-list1 {
	width: 780px;
	height: auto;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	padding-top: 15px;
}
#pro-pic {
	width: 300px;
	height: 252px;
	padding: 1px;
	background-color: #FFF;
	border: solid 1px #D3C4A5;
	float: left;
}
#pro-pic img {
	width: 300px;
	height: 252px;
}
#pro-content {
	width: 460px;
	height: auto;
	overflow: hidden;
	float: left;
	margin-left: 16px;
}
#pro-content li {
	list-style-type: none;
	border-bottom: dashed 1px #D3C4A5;
	padding-top: 5px;
	padding-bottom: 5px;
}
.btn1 {
	width: 120px;
	height: 32px;
	background-color: #FFB403;
	border: solid 1px #FF6600;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#login {
	width: 400px;
	height: auto;
	overflow: hidden;
	padding: 20px 0px;
	margin: 0px auto;
}
#login li {
	list-style-type: none;
	border-bottom: dashed 1px #D3C4A5;
	line-height: 40px;
	padding: 5px;
}
.input04 {
	width: 280px;
	height: 30px;
	padding: 0px 5px;
	border: solid 1px #D3C4A5;
	vertical-align: middle;
}
.btn3 {
	width: 120px;
	height: 30px;
	background-color: #FFB403;
	border: solid 1px #FF6600;
	color: #FFF;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 150px;
}
#login dt {
	width: 80px;
	height: auto;
	line-height: 40px;
	padding: 5px 0px;
	text-align: right;
	border-bottom: dashed 1px #D3C4A5;
	float: left;
}
#login dd {
	width: 310px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 5px 0px 5px 10px;
	border-bottom: dashed 1px #D3C4A5;
	float: left;
}

#car-title {
	width: 960px;
	height: 38px;
	margin: 0px auto 10px auto;
	background-color: #EEE6DB;
	border-bottom: solid 2px #C2A88E;
	font-size: 16px;
	line-height: 38px;
	font-weight: bold;
}
#car-title dt {
	width: 400px;
	line-height: 38px;
	font-size: 16px;
	text-align: center;
	float: left;
}
#car-title dd {
	width: 139px;
	line-height: 38px;
	font-size: 16px;
	text-align: center;
	float: left;
	border-left: solid 1px #CBBDA2;
}
#car-list {
	width: 960px;
	height: auto;
	overflow: hidden;
	margin: 0px auto;
	font-size: 16px;
	line-height: 30px;
}
#car-list dt {
	width: 400px;
	text-align: center;
	border-bottom: dashed 1px #CBBDA2;
	float: left;
}
#car-list dd {
	width: 139px;
	text-align: center;
	float: left;
	border-left: solid 1px #F5EEE1;
	border-bottom: dashed 1px #CBBDA2;
}
#car-list a:link,#car-list a:visited {
	color: #FF0000;
	text-decoration: underline;
}
#car-list a:hover,#car-list a:active {
	color: #FF9900;
	text-decoration: none;
}
.btn2 {
	width: 120px;
	height: 30px;
	background-color: #FFB403;
	border: solid 1px #FF6600;
	color: #FFF;
	font-weight: bold;
	float: right;
	display: inline;
	margin-top: 15px;
	margin-right: 30px;
}


.col2 {
	position: relative;
	width: 1000px;
	height: auto;
	overflow: hidden;
	padding: 118px 0px 20px 0px;
	margin: 0px auto;
}
.stitle {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	border-bottom: solid 1px #AB8157;
}
.stitle h3 {
	font-size: 14px;
	font-weight: normal;
	color: #999;
	line-height: 30px;
}
.text1 {
	padding: 20px 40px 0px 40px;
	font-size: 16px;
	color: #666;
	line-height: 35px;
	height: auto;
	min-height: 400px;
	overflow: hidden;
}
.text1 p {
	text-indent: 32px;
	margin-bottom: 10px;
}
.text1 img {
	max-width: 890px;
}


.link02:link,.link02:visited {
	color: #FF0000;
	text-decoration: underline;
}
.link02:hover,.link02:active {
	color: #AD0002;
	text-decoration: none;
}
/*#main {
	height: auto;
	overflow: hidden;
	color: #333;
	line-height: 30px;
	margin-top: 15px;
}
#main li {
	list-style-type: none;
	padding: 10px;
	border-bottom: dashed 1px #CCC;
}*/
/*.input01 {
	width: 250px;
	height: 30px;
	border: solid 1px #CCC;
	padding: 0px 5px;
}
.input02 {
	width: 160px;
	height: 30px;
	border: solid 1px #CCC;
	padding-left: 5px;
}
.input03 {
	width: 630px;
	height: auto;
	padding: 0px;
	line-height: 30px;
	vertical-align: top;
}*/
.input01 {
	width: 280px;
	height: 28px;
	border: solid 1px #D3C4A5;
	padding: 0px 5px;
	vertical-align: middle;
}
.input02 {
	width: 130px;
	height: 28px;
	border: solid 1px #D3C4A5;
	padding: 0px 5px;
	vertical-align: middle;
}
.input03 {
	width: 80px;
	height: 28px;
	padding: 0px 0px 0px 5px;
	border: solid 1px #D3C4A5;
	vertical-align: middle;
}
.pic03 {
	vertical-align: bottom;
}
.input05 {
	width: 270px;
	height: 60px;
	padding: 5px;
	border: solid 1px #D3C4A5;
	vertical-align: middle;
}
.link01:link,.link01:visited {
	color: #FF0000;
	text-decoration: underline;
}
.link01:hover,.link01:active {
	color: #FF9900;
	text-decoration: none;
}
#addpic_btn1 {
	width: 100px;
	heiht: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #F4F4F4;
	border: solid 1px #CCC;
	margin-left: 10px;
	margin-top: 5px;
}

#type-title {
	width: 740px;
	height: 40px;
	margin: 20px auto 10px auto;
	background-color: #F5EEE1;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
}
#type-title dt {
	width: 520px;
	padding-left: 20px;
	float: left;
}
#type-title dd {
	width: 199px;
	text-align: center;
	float: left;
	border-left: solid 1px #CBBDA2;
}
#type-list2 {
	width: 740px;
	height: auto;
	overflow: hidden;
	margin: 0px auto 10px auto;
	line-height: 30px;
}
#type-list2 dt {
	width: 520px;
	border-bottom: dashed 1px #CBBDA2;
	background-image: url(../images/biao.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	float: left;
}
#type-list2 dd {
	width: 199px;
	text-align: center;
	float: left;
	border-left: solid 1px #F5EEE1;
	border-bottom: dashed 1px #CBBDA2;
}
#type-list2 a:link,#type-list2 a:visited {
	color: #FF0000;
	text-decoration: underline;
}
#type-list2 a:hover,#type-list2 a:active {
	color: #FF9900;
	text-decoration: none;
}


.btn03 {
	width: 78px;
	height: 26px;
	background-color: #FEC901;
	border: solid 1px #FF9600;
	color: #673F02;
	font-family: 微软雅黑;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
	margin-left: 220px;
	margin-top: 15px;
}
.btn02 {
	width: 78px;
	height: 26px;
	background-color: #F4F4F4;
	border: solid 1px #CCCCCC;
	color: #666;
	font-family: 微软雅黑;
	font-weight: bold;
	text-align: center;
}
.btn04 {
	width: 98px;
	height: 36px;
	background-color: #FEC901;
	border: solid 1px #FF9600;
	color: #673F02;
	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
	margin-left: 280px;
	margin-top: 15px;
}


